@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
}
#logo {
  font-family: "Anton", sans-serif;
}
#title {
  font-family: "Anton", sans-serif;
}
#japanese-text {
  /* font-family: "Zen Old Mincho", serif; */
  font-family: "Kaisei Decol", serif;
  /* font-family: "Zen Antique Soft", serif; */
  /* font-family: "Rampart One", sans-serif; */
}
